<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru"
>
<head>
    <title>Главная страница</title>
</head>
<body>
<div th:replace="~{includes/links.html :: div}"></div>
<div th:replace="~{includes/modalWindows.html :: div}"></div>
<div class="navbar">
    <nav th:replace="~{includes/navbar.html :: nav}"></nav>
</div>
<div class="container-fluid well text-center" >
    <div>
        <h1>Главная страница</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 col-lg-2 list-group-item m-1 card_custom" >
            <div class="m-3 h4" style="height: 50px; padding-top: 7%">
                <p class="text-center ">Новости</p>
            </div>
            <a th:href="${'/news'}" class="stretched-link"></a>
        </div>
<!--        <div class="col-sm-4 col-md-3 col-lg-2 list-group-item m-1 card_custom" th:each="tempAut : ${#authentication.authorities}" th:if="(${tempAut.getAuthority()} == 'ROLE_JOURNALIST')">-->
<!--            <div class="m-3 h4" style="height: 50px; padding-top: 7%">-->
<!--                <p class="text-center">Мои публикации</p>-->
<!--            </div>-->
<!--            <a th:href="${'/publications'}" class="stretched-link"></a>-->
<!--        </div>-->
    </div>
</div>
<div class="footer" th:replace="~{includes/footer.html :: div}"></div>
</body>
</html>